.login-page-nav {
    justify-content: space-between;
}

.link-active:hover {
    color: var(--default-color);
}

.nav-icons .link-active-hover:after {
    border-bottom: solid 3px var(--default-color);
}

/* --------------------------------------> Login Form Container <---------------------------- */
.form-container {
    width: 40rem;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.log-in-form {
    box-shadow: 0px 0px 10px var(--gray-color);
    width: 90%;
    margin: 4rem 0;
}

.form-heading {
    color: var(--black-color);
    text-align: center;
    padding: 1rem;
}

.login-input {
    width: 80%;
}

.terms-conditions {
    font-size: 1.3rem;
    column-gap: 1rem;
}

.login-btn {
    width: 85%;
}

.login-form-text {
    width: 85%;
    margin-bottom: 3rem;
}

.signup-text {
    font-size: 1.6rem;
    padding: 1rem;
}

.password-reset-text {
    font-size: 1.6rem;
    padding: 0 1rem 1rem;
}

.signup-text a {
    color: var(--primary-color);
}

.password-reset-text a {
    color: var(--primary-color);
}

/* ----------------------------------------> Logout Button <--------------------------------- */
.logout-btn {
    padding: 1rem 2rem;
}

/* ----------------------------------------> Responsive CSS <--------------------------------- */
@media only screen and (max-width: 700px) {
    .login-page-nav {
        justify-content: flex-end;
    } 
}

@media only screen and (max-width: 522px) {
    .form-container {
        width: 35rem;
    }

    .login-form-text {
        margin-bottom: 2rem;
    }

    .signup-text, .password-reset-text {
        font-size: 1.4rem;
    } 
}